.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .main-nav-item:hover {
    text-decoration: underline;
  }

  i {
    margin-right: 5px;
  }

  .button {
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    border-style: none;
  }

  .logout {
  font-size: 16px;
  }