.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .main-nav-item:hover {
    text-decoration: underline;
  }
  .button {
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    border-style: none;
  }
i {
  margin-right: 5px;
}
  .sign-up, .sign-in {
    margin-left:  5px;
  }

  .logout {
  font-size: 16px;
  }